#message-card {
  margin-top: 5em;
  padding-top: 3em;
}
.inbox-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid #d2d6de;
  height: 34px;
  padding-bottom: 0px;
  margin-bottom: 1em;
}
.inbox-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
td {
  height: 50px;
  font-size: 2em;
}
tr:nth-child(even) {
  background: rgb(255, 255, 255);
}
tr:nth-child(odd) {
  background: rgb(245, 255, 255);
}

.inbox-sender {
  cursor: pointer;
}
.mail-message {
  padding: 1em;
  text-align: justify;
  min-height: 50vh;
  white-space: pre-line
}
.mail-card,
.inbox-card {
  min-height: calc(100vh - var(--footer-height) - 50px);
}

.inbox-header,
.mail-card {
  font-size: 20px;
}
.mail-sub-header {
  max-width: 100vw !important;
  word-break: break-all;
}
.mail-sub-header > .mail-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.mail-sub-header > .mail-info > span {
  color: #999;
  font-size: 13px;
}
.mail-sub-header > .mail-info > p {
  font-size: 16px;
  margin-right: 1em;
}
.inbox-search {
  width: 30%;
}
.pagination-info {
  margin-right: 1em;
  font-size: 18px;
}
.mail-footer {
  display: flex;
  justify-content: center;/* space-between; */
}
.mail-footer > div {
  text-align: center;
}
.inbox-send-tab{
  border-radius: 0px;
  border: none;
}

.inbox-send-tab-selected{
  border-radius: 0px;
  background-color: var(--main-color)!important;
  border: none;
  color: white!important;
}
.inbox-send-tab-selected:hover{
  color: white!important;
  background-color: var(--main-color)!important;

}
/*-responsive */
@media (max-width: 600px) {
  .inbox-search {
    width: 60%;
  }
  .inbox-control > button,
  .inbox-pagination > button,
  .pagination-info {
    font-size: 10px !important;
  }
  .message-container {
    padding: 0 !important;
  }
  .mail-footer > div > button {
    width: 100%;
    padding: 1em;
  }
  .inbox-card table {
    display: block !important;
    word-break: break-word !important;
  }
}
